﻿@model IEnumerable<MyTwitter.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<a asp-action="Roles">Роли</a>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    Роли
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Profile" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.UserName)
                </a>
            </td>
            <td>
                @string.Join(", ", item.Roles)
            </td>
            <td>
                @if (item.IsBlocked)
                {
                    <form method="post" asp-action="UnBlock" asp-route-id="@item.Id">
                        <input type="submit" value="Разблокировать"/>
                    </form>
                }
                else
                {
                    <form method="post" asp-action="Block" asp-route-id="@item.Id">
                        <input type="submit" value="Заблокировать"/>
                    </form>
                }
            </td>
        </tr>
}
    </tbody>
</table>
