﻿@model MyTwitter.Models.ApplicationUser

@{
    ViewData["Title"] = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsBlocked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsBlocked)
        </dd>
        <dt>
            Роли
        </dt>
        <dd>
            @string.Join(", ", Model.Roles)
        </dd>

    </dl>
</div>
<div>
    <form asp-action="SetRoles" asp-route-id="@Model.Id" method="post">
    @foreach (TwitterRole role in ViewBag.Roles as List<TwitterRole>)
    {
        if (Model.Roles.Contains(role.Name))
        {
            <input checked="checked" type="checkbox" id="@role.Name" value="@role.Name" name="role"/>
        }
        else
        {
            <input type="checkbox" id="@role.Name" value="@role.Name" name="role"/>
        }
        <label for="@role.Name">@role.Name</label>
        <br/>
    }
    <input type="submit" value="Назначить"/>
    </form>
</div>
