﻿@model IEnumerable<MyTwitter.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author.UserName)
            </td>
            <td>
                <div id="postContent-@item.Id">
                    @Html.DisplayFor(modelItem => item.Content)
                </div>
                <div id="postEdit-@item.Id" style="display: none">
                    <textarea id="newContent-@item.Id">@Html.DisplayFor(modelItem => item.Content)</textarea>
                    <br/>
                    <input type="button" onclick="editPost('@item.Id')" value="редактировать"/>
                </div>
            </td>
            <td>
                @item.CreatedOn.ToShortDateString()
            </td>
            <td>
                <a id="editPost-@item.Id" onclick="showEditForm('@item.Id')">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        function showEditForm(id) {
            $('#postContent-' + id).hide();
            $('#postEdit-' + id).show();
        }

        function editPost(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Post")',
                type: 'POST',
                data: { 'id': id, 'newContent': $('#newContent-' + id).val() },
                success: function (data) {
                    $('#postContent-' + id).html(data);
                    $('#postContent-' + id).show();
                    $('#postEdit-' + id).hide();
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest);
                    alert(textStatus);
                    alert(errorThrown);
                }
            });
        }
    </script>
}
