﻿@model MyTwitter.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <span id="chatUsers">
            @foreach (var user in Model.Users)
            {
                <span>@user.UserName</span>
            }
            </span>
            <span id="addLink"><a>Добавить</a></span>
            <span id="userSearch" style="display: none">
                <input id="searchText" type="text"/>
                <input id="search" type="button" value="Найти"/>
            </span>
            <div id="searchResult">
            </div>
            <input type="button" id="addUsers" value="Добавить" style="display: none"/>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var message in Model.Messages)
    {
        if (message.AuthorId == Model.CurrentUserId)
        {
            <tr>
                <td></td>
                <td>@message.Content</td>
            </tr>
        }
        else
        {
            <tr>
                <td>@message.Content</td>
                <td></td>
            </tr>
        }
    }
    
    </tbody>
</table>
<form method="post" asp-action="Send" asp-route-chatId="@Model.Chat.Id">
    <textarea name="newMessage"></textarea>
    <input type="submit" value="Отправить"/>
</form>

@section Scripts
{
<script>
        $(document).ready(function() {
            $('#addLink').click(function(e) {
                $('#userSearch').show();
                $('#addLink').hide();
            });
    });

        $(document).ready(function() {
            $('#addUsers').click(function (e) {
                var usersToAdd = [];
                $.each($("input[name='myCheckbox']:checked"), function(){
                    usersToAdd.push($(this).val());
                });
                $.ajax({
                    url: '@Url.Action("AddUsers", "Chat")',
                    type: 'POST',
                    data: { 'users': usersToAdd, 'chatId': @Model.Chat.Id },
                    success: function (data) {
                        $('#chatUsers').html(data);
                    },
                    error: console.log('все плохо')
                });
            });
    });

    $(document).ready(function () {
        $('#search').click(function (e) {
                $("#searchResult").html('');
                $.ajax({
                    url: '@Url.Action("SearchForAdding", "Profile")',
                    type: 'POST',
                    data: { 'key': $('#searchText').val() },
                    success: function (data) {

                        var users = JSON.parse(data);
                        if (users != '') $("#addUsers").show();
                        jQuery.each(users, function (i, val) {
                            var checkbox = '<input type="checkbox" class="usercheck" value="' + val + '" name="myCheckbox" />' + val;
                            $("#searchResult").append(checkbox + "<br/>");
                        });

                    },
                    error: console.log('все плохо')
                });
            });
        });
</script>
}
